<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>
    <h1>Password Reset</h1>

    <form action="/login" method="GET">
       <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="password">Retype Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <a href="/login"><button>Reset Password</button>
        </a>

    </form>
</body>
</html>


